#panel {
  margin: 0;
  background: rgba(256,256,256, 0.5);
  width: 20%;
  z-index: 10;
  position: fixed;
  bottom: 2em;
  right: 2em;
  padding: 1em;
  border-radius: 0.5em;
}

#camera-type-menu {
  width: 100%;
}

.keyboard-help{
  font-size: 0.7em;
  margin-top: 2px;
  padding: 0.5em;
}

.keyboard-help button{
  font-size: 0.8em;
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 2px;
}

#free-view-help{
  display: none;
}

#light-color {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  box-shadow: none;
  border-radius: 5px;
}
