#panel {
  margin: 0;
  background: rgba(256,256,256, 0.5);
  width: 20%;
  z-index: 10;
  position: fixed;
  bottom: 2em;
  right: 2em;
  padding: 2em;
  border-radius: 0.5em;
}

#camera-type-menu {
  width: 100%;
}

#help-info{
  display: none;
  font-size: 0.7em;
  margin-top: 2px;
  padding: 0.5em;
}

#help-info button{
  /*display: none;*/
  font-size: 0.8em;
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 2px;
}
